<script>
var _wire_data_{{c|none}} = {{state|json_encode}};

function _wire_{{c|none}} () {
	return Object.assign ({}, {
		handle (event) {
			event.preventDefault ();
			
			var params = {};
			
			switch (event.target.tagName) {
				case 'INPUT':
				case 'SELECT':
				case 'TEXTAREA':
					params[event.target.getAttribute ('name')] = event.target.value;
					break;

				default: // button, a, etc.
					for (var key in event.target.dataset) {
						params[key] = event.target.dataset[key];
					}
					break;
			}
			
			this.send (params);
		},
		
		sync () {
			var params = {},
				data = this.$el.__x.getUnobservedData ();
			
			for (var key in data) {
				if (data[key] === undefined) continue;
				if (data[key] instanceof Function) continue;
				
				params[key] = data[key];
			}

			this.send (params);
		},
		
		send (params) {
			var url = '/{{endpoint|none}}?_wired_={{c|none}}',
				request = {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify (params)
				};
			
			console.log ('send()', url, request);

			fetch (url, request)
				.then (res => res.json ())
				.then (json => {
					console.log (json);
					for (var key in json) {
						this[key] = json[key];
					}
				})
				.catch (ex => {
					console.error (ex);
				});
		}
	}, _wire_data_{{c|none}});
}
</script>
