<script>
var _wire_data_{{c|none}} = {{state|json_encode}};

function _wire_{{c|none}} () {
	return Object.assign ({}, {
		send (event) {
			event.preventDefault ();
			
			var params = new FormData ();
			
			switch (event.target.tagName) {
				case 'INPUT':
				case 'SELECT':
					params.append (event.target.getAttribute ('name'), event.target.value);
					break;

				default: // button, a, etc.
					for (var key in event.target.dataset) {
						params.append (key, event.target.dataset[key]);
					}
					break;
			}
			
			fetch ('/{{endpoint|none}}?_wired_={{c|none}}', {method: 'POST', body: params})
				.then (res => res.json ())
				.then (json => {
					for (var key in json) {
						this[key] = json[key];
					}
				})
				.catch (ex => {
					console.error (ex);
				});
		}
	}, _wire_data_{{c|none}});
}
</script>
